.container
  %h2.mt-2 注文内容を確認する
  %hr.mb-4/
  .row
    .col-md-4.order-md-2.mb-4
      %h4.d-flex.justify-content-between.align-items-center.mb-3
        %span.text-muted 注文内容
        %span.badge.badge-secondary.badge-pill=@cart_items.count
      %ul.list-group.mb-3
        - @cart_items.each do |cart_item|
          %li.list-group-item.d-flex.justify-content-between.lh-condensed
            %div
              %h6.my-0=cart_item.item.name
              %small.text-muted
                数量：#{cart_item.quantity}
            %span.text-muted=number_to_currency(cart_item.item.price, :format => "%u%n", :unit => "￥")
        %li.list-group-item.d-flex.justify-content-between.lh-condensed
          %div
            %p.my-0 送料
            %small.text-muted 商品5つごとに600円の送料がかかります
          %span.text-muted=number_to_currency(CartItem.get_postage(@cart_items), :format => "%u%n", :unit => "￥")
        %li.list-group-item.d-flex.justify-content-between.lh-condensed
          %div
            %p.my-0 手数料
          %span.text-muted=number_to_currency(CartItem.get_delivery_cash(@cart_items), :format => "%u%n", :unit => "￥")
        %li.list-group-item.d-flex.justify-content-between
          %span ご請求額(税込)：
          %strong=number_to_currency((CartItem.get_delivery_cash(@cart_items) + CartItem.get_postage(@cart_items) + CartItem.sum_price(@cart_items))*1.08, :format => "%u%n", :unit => "￥")
    .col-md-8.order-md-1
      %h4.mb-3 お届け先住所
      %p=current_user.name
      - if current_user.address.blank? || current_user.post_code.blank?
        %p
          %b 注文を確定するには住所を登録する必要があります。
        %p= link_to 'お届け先を登録する', edit_user_registration_path
      - else
        %p=current_user.post_code
        %p=current_user.address
        %p= link_to 'お届け先を変更する', edit_user_registration_path
      %hr.mb-4/
      %h4.mb-3 支払い方法
      = simple_form_for(Order.new) do |f|
        %p 代金引換（国内配送のみ。代引手数料がかかります。）
        -# 今は代金引換のみなのでとりあえずこれで対処
        = f.hidden_field :payment_id, :value => Payment.first.id
        %table.table.table-bordered
          %thead
            %tr
              %th 代金引換額
              %th サービス手数料
          %tbody
            %tr
              %td 〜9,999円
              %td 300円
            %tr
              %td 〜29,999円
              %td 400円
            %tr
              %td 〜99,999円
              %td 600円
            %tr
              %td 100,000円〜
              %td 1,000円
        %hr.mb-4/
        %h4.mb-3 お届け日
        .row.mb-2
          .col-md-6
            = f.select :delivery, options_for_select(Order.get_workdays), {}, { class: 'form-control'}
          .col-md-6
            = f.select :ship_time_id, ShipTime.all.map{|t| [t.timezone, t.id]}, {}, { class: 'form-control'}
          = f.hidden_field :total, :value => CartItem.get_delivery_cash(@cart_items) + CartItem.get_postage(@cart_items) + CartItem.sum_price(@cart_items)
          = f.hidden_field :postage, :value => CartItem.get_postage(@cart_items)
        %button.btn.btn-primary.btn-lg.btn-block{:type => "submit"} 注文を確定する